configuration {
 modi: "window,drun,ssh,combi";
 font: "CaskaydiaCove Nerd Font 13";
 combi-modi: "window,drun,ssh";
 icon-theme: "Papirus-Dark";
 show-icons: true;
 }
// @theme "gruvbox-dark"
@theme "~/.config/rofi/observatory.rasi"
