* {
  min-height: 0;
  min-width: 0;
  font-family: Lexend, "CaskaydiaCoveMono";
  font-size: 16px;
  font-weight: 600;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: #151515;
}

#workspaces button {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: #2f2f2f;
  color: #c0b18b;
}

#workspaces button:hover {
  color: #151515;
  background-color: #c0b18b;
}

#workspaces button.active {
  background-color: #2f2f2f;
  color: #22c3a1;
}

#workspaces button.urgent {
  background-color: #2f2f2f;
  color: #d75f5f;
}

#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#battery,
#tray,
#memory,
#window,
#mpris {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: #2f2f2f;
}

#mpris.playing {
  color: #8fee96;
}

#mpris.paused {
  color: #555555;
}

#custom-sep {
  padding: 0px;
  color: #555555;
}

window#waybar.empty #window {
  background-color: transparent;
}

#cpu {
  color: #84edb9;
}

#memory {
  color: #775759;
}

#clock {
  color: #22c3a1;
}

#clock.simpleclock {
  color: #22c3a1;
}

#window {
  color: #c0b18b;
}

#pulseaudio {
  color: #84edb9;
}

#pulseaudio.muted {
  color: #555555;
}

#custom-logo {
  color: #22c3a1;
}

#custom-power {
  color: #d75f5f;
}

tooltip {
  background-color: #2f2f2f;
  border: 2px solid #D7263D;
}
