* {
  border-radius: 3px;
  border: none;
  margin: 0px;
}

window {
margin: 0px;
/* border: 1px solid #7A8478; */
font-size: 20px;
font-family: JetBrainsMono;
/* background-color: #1E2326; */
background-color: #1e1e2e;
}

#input {
margin: 5px;
border: none;
/* color: #D3C6AA; */
color: white;
background-color: #1e1e2e;
}

#inner-box {
margin: 5px;
border: none;
background-color: #1e1e2e;
}

#outer-box {
margin: 5px;
border: none;
background-color: #1e1e2e;
}

#scroll {
display: none;
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
/* color: #D3C6AA; */
color: white;
}

#entry:selected {
/* background-color: #272E33; */
/* background-color: #1f233e; */
  background-color: #ededeb;
  color: black;
}

#text:selected {
  color: black;
}
